html, body, header, main, footer, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  background: transparent;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
}
