header {
  width: 100%;
  min-height: 100px;
  /*position: fixed;*/
  background: linear-gradient(#ffffff, #DCE7F5);
  border: 1px solid transparent;
  box-sizing: border-box;
}

header:after {
  clear: both;
  content: "";
  display: block;
}

ul.icons {
  background: white;
  border: 1px solid #a8b9d0;
  border-radius: 4px;
  display: block;
  margin-left: 100px;
  margin-right: 210px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 10px;
  min-width: 70px;
}

ul.buttons {
  width: 180px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
}

ul:after {
  clear: both;
  content: "";
  display: block;
}

li {
  display: block;
  float: left;
  margin: 10px;
}

#prep_box {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 1px solid #a8b9d0;
  border-radius: 4px;
  display: block;
}

.icon {
  border: 1px solid #a8b9d0;
  border-radius: 4px;
  display: block;
  float: left;
}

header button, header a.button {
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid #a8b9d0;
  background: linear-gradient(#ffffff, #EEE8E7);
  float: left;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
