main {
  padding: 10px;
  background: linear-gradient(#C5CFDF, #DCE5F2);
  padding-top: 110px;
  min-height: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

canvas#drawing-canvas {
  background: white;
  cursor: crosshair;
  resize: auto;
  box-sizing: border-box;
}

div.wax-paper {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.2);
}

div.wax-paper.shady {
  display: block;
}

section.prep-modal {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-250px);
  background: linear-gradient(#DDD, #DCE7F5);
  border: 1px solid #a8b9d0;
  border-radius: 10px;
}

section.prep-modal.active {
  display: block;
}

button#resize-canvas {
  height: 8px;
  width: 8px;
  background: white;
  position: relative;
  top: 8px;
  left: -3px;
  border: 1px solid black;
  z-index: 10;
}
