main {
  padding: 10px;
  background: linear-gradient(#C5CFDF, #DCE5F2);
  padding-top: 110px;
  min-height: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

canvas#drawing-canvas {
  background: white;
  cursor: crosshair;
  resize: auto;
  box-sizing: border-box;
}
